<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Tweet score</title>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="YES">
    <script type="text/javascript" src="//fast.fonts.net/jsapi/ed6d3f54-1907-435e-9b97-58ca91426e29.js"></script>
    <link rel="preload" href="/js/index.js" as="script">
</head>