/* Margin */

.push { margin:$baseline !important; }
.push--top { margin-top:$baseline !important; }
.push--right { margin-right:$baseline !important; }
.push--bottom { margin-bottom:$baseline !important; }
.push--left { margin-left:$baseline !important; }
.push--ends { margin-top:$baseline !important; margin-bottom:$baseline !important; }
.push--sides { margin-right:$baseline !important; margin-left:$baseline !important; }

.push-half { margin:$baseline/2 !important; }
.push-half--top { margin-top:$baseline/2 !important; }
.push-half--right { margin-right:$baseline/2 !important; }
.push-half--bottom { margin-bottom:$baseline/2 !important; }
.push-half--left { margin-left:$baseline/2 !important; }
.push-half--ends { margin-top:$baseline/2 !important; margin-bottom:$baseline/2 !important; }
.push-half--sides { margin-right:$baseline/2 !important; margin-left: $baseline/2 !important; }

.push-double--bottom { margin-bottom:$baseline * 2 !important; }
.push-double--ends { margin-top:$baseline !important; margin-bottom:$baseline !important; @media (min-width: 40em) { margin-top:$baseline * 2 !important; margin-bottom:$baseline * 2 !important; } }
.push-double--sides { margin-right:$baseline * 2 !important; margin-left:$baseline * 2 !important; }
.push-double--top { margin-top:$baseline * 2 !important; }
.push-double--right { margin-right:$baseline * 2 !important; }
.push-double--left { margin-left:$baseline * 2 !important; }

/* Padding */

.soft { padding:$baseline !important; }
.soft--top { padding-top:$baseline !important; }
.soft--right { padding-right:$baseline !important; }
.soft--bottom { padding-bottom:$baseline !important; }
.soft--left { padding-left:$baseline !important; }
.soft--ends { padding-top:$baseline !important; padding-bottom:$baseline !important; }
.soft--sides { padding-right:$baseline !important; padding-left: $baseline !important; }
.soft--large {  padding: $baseline*1.5; }

.soft--half { padding:$baseline/2 !important; }
.soft-half--top { padding-top:$baseline/2 !important; }
.soft-half--right { padding-right:$baseline/2 !important; }
.soft-half--bottom { padding-bottom:$baseline/2 !important; }
.soft-half--bottom-tweak {padding-bottom:($baseline/2)-4 !important; }
.soft-half--left { padding-left:$baseline/2 !important; }
.soft-half--ends { padding-top:$baseline/2 !important; padding-bottom:$baseline/2 !important; }
.soft-half--sides { padding-right:$baseline/2 !important; padding-left: $baseline/2 !important; }
.soft-quarter--ends { padding-top:$baseline/4 !important; padding-bottom:$baseline/4 !important; }

.soft-third--ends {padding-top: $baseline/3 !important; padding-botton: $baseline/3 !important; }

.soft-double { padding:$baseline !important; @media (min-width:$bp-small){  padding:$baseline*2 !important; } }
.soft-double--top { padding-top:$baseline !important; @media (min-width: 40em) {padding-top:$baseline*2 !important}}
.soft-double--right { padding-right:$baseline*2 !important; }
.soft-double--bottom { padding-bottom:$baseline !important; @media (min-width: 40em) {padding-bottom:$baseline*2 !important} }
.soft-double--left { padding-left:$baseline*2 !important; }
.soft-double--ends { padding-top:$baseline !important; padding-bottom:$baseline !important; @media (min-width: 40em) { padding-top:$baseline*2 !important; padding-bottom:$baseline*2 !important; } }
.soft-double--sides { padding-right:$baseline !important; padding-left: $baseline !important; @media (min-width: 40em) {padding-right:$baseline*2 !important; padding-left:$baseline*2 !important} }

/* No Margin */

.flush { margin:0!important; }
.flush--top { margin-top: 0!important; }
.flush--right { margin-right: 0!important; }
.flush--bottom { margin-bottom:0!important; }
.flush--left { margin-left: 0!important; }
.flush--ends { margin-top: 0!important; margin-bottom:0!important; }
.flush--sides { margin-right: 0!important; margin-left:  0!important; }

/* No Padding */

.hard { padding: 0!important; }
.hard--top { padding-top:0!important; }
.hard--right { padding-right: 0!important; }
.hard--bottom { padding-bottom:0!important; }
.hard--left { padding-left:0!important; }
.hard--ends { padding-top:0!important; padding-bottom:0!important; }

.pull--top { margin-top:-$baseline !important; }
.pull--right { margin-right:-$baseline !important; }
.pull--bottom { margin-bottom:-$baseline !important; }
.pull--left { margin-left:-$baseline !important; }

.pull-double--top { margin-top:-$baseline*2 !important; }
.pull-double--right { margin-right:-$baseline*2 !important; }
.pull-double--bottom { margin-bottom:-$baseline*2 !important; }
.pull-double--left { margin-left:-$baseline*2 !important; }

/* Floats */

.right {
	float: right !important;
}

.left {
	float: left !important;
}

/* Clearfix */

.clearfix {
	@include clearfix;
}

/* Display */
.none {
	display: none !important;
}

.block {
	display: block !important;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
}

.stretch {
	-webkit-align-items: stretch;
	align-items: stretch;
}

.hide--small {
	@media (min-width:$bp-small) {
		display: none;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Position */

.relative {
	position: relative !important;
}

.absolute {
	position: absolute !important;
}