{% extends 'layouts/default.html' %}
{% block content %}
<div class="bg-secondary">
    <div class="wrapper soft-double--ends">
        <div class="col--centre xsmall-10">
            <div class="col xsmall-12 small-8">
                <h1 class="title tera bold query">{{q}}</h1>
            </div>
            <div class="col xsmall-12 small-4">
                <div class="score">{{score}}</div>
            </div>
        </div>
    </div>
</div>
<main class="bg-secondary--40">
    <div class="wrapper keywords push--top push-double--bottom">
        <div class="col--centred xsmall-12 soft--top">
            <h2 class="text-center secondary light mega push-half--bottom">Keywords</h2>
            <div class="separator push-double--bottom"></div>
        </div>
        <ul class="list--trending list--dark list--col">
            {% for item in keywords %}
            <li class="secondary">{{item}}</li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}